body{
    padding: 0px;
    margin: 0px;
}
#navbar{
    display: flex;
    flex-direction: row;
    flex-flow: flow;
    align-items: center;
    margin: 0px;
    display: flex;
    width: 100vw;
   

}
#nav-buttons{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
#title{
    align-self: center;
    font-size: 200%;
    color: aliceblue;
    padding-left: 5%;
}
#item-nav{
    background-color: rgb(40, 20, 87);
    margin: 5%;
    padding: 7%;
    color: rgb(255, 255, 255);
    border-radius: 60vw;
    align-self: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}
#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0PX;
    padding-top: 100PX;
    margin-left: 0px;
    padding-bottom: 10%;

}
#mainContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0PX;
    padding-top: 100PX;
    margin-left: 0px;
    padding-bottom: 10%;
    justify-content:space-around;
}
#card{
    margin-left: 0px;
}
#imgIcon{
    width: 100px;
    justify-self:center;
    border-radius: 5%;
}
#mandroTitle{
    padding-left: 3%;
    padding-right: 3%;
    width: 40%;
}